* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}
.word-color {
    color: #C271FF;
}
header {
    background-image: url(Images/Object.png);
    padding-bottom: 40px;
    padding-top: 10px;
}
nav, .hero, .quote, .tutorials, .free-join, .faq-section, .foot-section {
    width: 1104px;
    margin: auto;
} 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
nav>img {
    width: 20%;
    height: 5%;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
nav>ul>li>a {
    padding: 25px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: white;
}

.hero .banner h1{
    font-size: 7.5vw;
}
.banner {
    text-align: center;
    color: white;
}
.banner h1 {
    margin-bottom: 0;
}
.banner div {
    margin-top: 0;
    position: relative;
    top: -15px;
}
.banner div span {
    margin: 22px;
    font-weight: bold;
}
.banner button {
    margin: 20px;
    background-color: #C271FF;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    border: 1px solid #C271FF;
}
section .experts h2 {
    margin: 100px;
    text-align: center;
    font-weight: lighter;
    color: white;
}
section .experts #txt {
    color: #C271FF;
    font-weight: bold;
}
section .experts .members {
    display: flex;
    justify-content: space-between;
    color: white;
}
section .experts .members #bruce img {
    border-radius: 100px;
}
section .experts .members div h3 {
    text-align: center;
    margin: 2px;
}
section .experts .members div p {
    text-align: center;
    margin: 2px;
}
section .experts .members div p {
    font-style: italic;
}
article {
    background-color: #C271FF;
}
main .quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    color: white;
}
main .quote-cite blockquote, p{
    margin: 0;
    text-align: left;
}
main .quote-cite blockquote, h3 {
    margin-bottom: 0;
}
main .tutorials {
    margin-bottom: 80px;
}
main .tutorials h2 {
    Margin: 70px;
    text-align: center;
}
main .tutorials .videos {
    display: flex;
}
main .tutorials .videos .profile {
    display: flex;
    align-items: center;
}

main .tutorials .videos .profile img {
    width: 30px;
    height: 30px;
}

main .tutorials .videos .profile h4 {
    margin-left: 20px;
    color: #C271FF;
}
main .tutorials .videos .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .tutorials .videos .rating p {
    margin-right: 30px;
    color:#C271FF
}
main .tutorials .videos .rating img {
    height: 18px;
    width: 100px;
}
main .memb {
    background-color:#071629;
    color: white;
}
main .free-join .title {
    padding: 30px;
}
main .free-join h2 {
    text-align: center;
}
main .free-join .members-section {
    display: flex;
    justify-content: space-between;
}
main .free-join .members-section div h3 {
    text-align: center;
}
main .free-join .members-section div p{
    text-align: center;
}
main .free-join .members-section div img {
    position: relative;
    left: 70px;
}
main .free-join button {
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #C271FF;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    border: 1px solid #C271FF;
}
main .free-join .register-btn {
    text-align: center;
}
main .faq-section .faq-title h2{
    font-size: 4vw;
    text-align: center;
}
main .faq-section .faq-how {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .faq-section .faq-how div {
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
    text-align: justify;
    
}
main .faq-section .faq-how .txt-color {
    color: rgb(174, 167, 167);;
}
footer {
    background-color: #071629;
    padding: 80px;
}
footer .foot-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .foot-section div i{
    font-size: 30px;
    color: white;
    padding: 10px;
}
footer .foot-section p {
    text-align: center;
    color: rgb(174, 167, 167);
    font-size: small;
    position: relative;
    bottom: -50px;
}
